<!-- <div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
<div class="modal-body">
    <img src="./assets/images/{{name}}" class="img-responsive" [ngStyle]="{'max-height': '600px', 'max-width': '770px'}">
    <!-- <img src="./assets/images/{{name}}" class="img-responsive" width="100%" height="auto"> -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>


<!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button> -->