<div class="container">
    <div class="row" *ngIf="menu">
        <div class="col-md-12 shadow-sm p-2 mb-3 bg-info text-white rounded">
            <h4 [ngStyle]="{'font-weight': 200, 'padding-left': '1rem'}">{{menuTitle}}</h4>
        </div>
        <ng-container *ngFor="let item of menu; let i=index">
            <div class="col-sm-4">
                <div class="card btm1rem">
                    <div class="card-body">
                        <h5 class="card-title"><i class="home-icon fas" *ngIf="item.icon!==''" [ngClass]="'fa-'+item.icon"></i> {{item.title}}</h5>
                        <p class="card-text" [innerHTML]="processLinks(item.desc)"></p>
                        <a class="btn btn-info" routerLink="/details/{{item.id}}" [innerHTML]="getResource('btn_open')"></a>
                        <!-- <a href="#" class="btn btn-primary" (click)="navigateToDetail(item.id)">Go somewhere</a> -->
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>