<div class="container">
    <div class="row">
        <div class="col btm1rem">
            <button class="btn btn-outline-secondary" (click)="navigateBack()" [innerHTML]="getResource('btn_back')" *ngIf="resource"></button>
            <!-- <small class="font-weight-light" [ngStyle]="{'margin-left': '1rem', 'color': '#a6630c', 'font-weight': '500'}">{{menuTitle}} / {{subMenuTitle}}</small> -->
            <small [ngStyle]="{'margin-left': '1rem', 'font-weight': '500'}">{{menuTitle}} / {{subMenuTitle}}</small>
        </div>
    </div>
    <div class="row" *ngIf="tab">
        <!-- Accordion -->
        <div class="col" *ngIf="tab.length>1">
            <ngb-accordion [closeOthers]="true" activeIds="static-0">
                <ng-container *ngFor="let item of tab; let i=index">
                    <ngb-panel id="static-{{i}}">
                        <ng-template ngbPanelTitle>
                            <i class="home-icon fas" *ngIf="item.icon!==''" [ngClass]="'fa-'+item.icon"></i> {{item.link}}
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <!-- <ng-container *ngIf="item.img !== ''; else imgPlaceholder">
                                            <img [src]="'./assets/images/' + item.img" alt="">
                                        </ng-container>
                                        <ng-template #imgPlaceholder>
                                            <img src="./assets/images/gray-block.png" alt="">
                                        </ng-template> -->
                                        <ng-container *ngIf="item.img !== ''; else imgPlaceholder">
                                            <a (click)="startModal(item.img)" class="mod-img"><img [src]="'./assets/images/' + item.img" alt="" width="95%" height="auto"></a>
                                        </ng-container>
                                        <ng-template #imgPlaceholder>
                                            <a (click)="startModal(item.img)"><img src="./assets/images/gray-block.png" alt="" width="95%" height="auto"></a>
                                        </ng-template>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <span [innerHTML]="processLinks(item.text)"></span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ng-container>
            </ngb-accordion>
        </div>
        <!-- End of Accordion -->

        <!-- Single item -->
        <div class="col" *ngIf="tab.length===1">
            <div class="card">
                <div class="card-header">
                    {{tab[0].link}}
                    <span [innerHTML]="getResource('title_featured')" *ngIf="tab[0].link===''"></span>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <!-- <img src="./assets/images/satelite_view_300x225.jpg" alt=""> -->
                                <ng-container *ngIf="tab[0].img !== ''; else imgPlaceholder">
                                    <a (click)="startModal(tab[0].img)"><img [src]="'./assets/images/' + tab[0].img" alt="" width="95%" height="auto"></a>
                                </ng-container>
                                <ng-template #imgPlaceholder>
                                    <a (click)="startModal(tab[0].img)"><img src="./assets/images/gray-block.png" alt="" width="95%" height="auto"></a>
                                </ng-template>
                                <!-- <img src="./assets/images/gray-block.png" alt="{{tab[0].img}}"> -->
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-8">
                                <a (click)="startModal(tab[0].img)"><span [innerHTML]="processLinks(tab[0].text)"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Single item -->

        <!-- No content -->
        <div class="col" *ngIf="tab?.length===0">
            <a (click)="startModal(tab[0].img)"><span [innerHTML]="getResource('no_content')"></span></a>
        </div>
    </div>

    <div class="row" *ngIf="tab?.length>4">
        <div class="col" [ngStyle]="{'margin-top': '0.5rem'}">
            <a class="btn btn-light" (click)="navigateBack()" [innerHTML]="getResource('btn_back')"></a>
        </div>
    </div>

</div>
<!-- <app-modal [imgSubject]="subject"></app-modal> -->
<!-- <app-modal></app-modal> -->